.homePage{
    background-image: linear-gradient(to left bottom, rgba(0, 0, 0, 0.9), rgba(87, 165, 92, 0.6)),url(../images/HomeBackground.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-clip: border-box;
    padding: 30px;
  }
  